.content {
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
  padding: 48px 20px 96px;
  * {
    color: $neutrals600;
  }
  img {
    width: 100%;
    height: auto;
  }
  p {
    margin-bottom: 16px;
  }
  h2 {
    font-size: 36px;
    margin-bottom: 8px;
  }
}
