$neutrals900: #0f172a;
$neutrals800: #1e293b;
$neutrals700: #334155;
$neutrals600: #475569;
$neutrals500: #64748b;
$neutrals400: #94a3b8;
$neutrals300: #cbd5e1;
$neutrals200: #e2e8f0;
$neutrals100: #f1f5f9;
$neutrals050: #f8fafc;
