.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 64px);
  @media (min-width: 700px) {
    height: 512px;
  }
  margin: 0 auto;
  background-image: url("../img/photo.jpg");
  background-size: cover;
  &__overlay {
    background-color: rgba($neutrals900, 0.75);
    width: 100%;
    height: 100%;
    mix-blend-mode: hard-light;
    display: flex;
    align-items: flex-end;
  }
  &__header {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1184px;
    margin: 0 auto 48px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    h1 {
      font-size: 60px;
      font-weight: bold;
      color: $neutrals050;
    }
    h2 {
      font-size: 24px;
      font-weight: bold;
      color: $neutrals200;
      text-transform: uppercase;
    }
    &__meta {
      display: flex;
      align-items: center;
      p {
        color: $neutrals200;
        font-weight: bold;
        font-size: 16px;
      }
    }
    &__tag {
      background-color: $neutrals800;
      color: $neutrals100;
      font-weight: bold;
      padding: 4px 16px;
      border-radius: 8px;
      margin-left: 8px;
      font-size: 16px;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
